/* Hier kun je eigen fancy CSS inzetten om de site mooier te maken of aan te passen qua stijl en layout */

body {
    background: repeating-radial-gradient(circle, purple, purple 10px, #4b026f 10px, #4b026f 20px);
  }

  main {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: #333 2px 2px 7px;
  }

  #linkbg {
    background: white;
  }

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  grid-gap: 20px;
}

.imageGallery {
  max-width: 100%;
  height: 250px;
}

.info {
  background: gray;
  text-align: center;
}

.info a {
  color: red;
}

.imageGallery:hover {
  opacity: .5;
  transition: .5s;
}

.text-danger {
  color: red;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr ;
  }
}



